requests
boto3
fastapi
modal
torch
torchvision
accelerate
opencv-python-headless
ffmpegcv
numpy
pysubs2
scipy
scikit-learn
pandas
tqdm
gdown
transformers
datasets
python_speech_features
scenedetect
openai
whisperx
pytubefix
google-generativeai
